.flex-container {
  display: flex;
}

.firstImage {
  position: absolute;
  height: 150px;
  width: 150px;
  margin-left: 150px;
  margin-top: 150px;
}

h1 {
  margin-left: 500px;
}
.p1 {
  position: absolute;
  top: 150px;
  left: 180px;
  color: white;
}

.a1 {
  position: absolute;
}
